<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eater&display=swap" rel="stylesheet">
</head>
<body>
    <header> 
        <nav>
            <a href="imagens/soul_eater_rpg_rulebook.pdf" target="_blank"> Livro de Regras</a>
        </nav>
        <div>
            <div></div>
        </div>
    </header>
    <main>
        <article>
            <div>
                <section>                
                    <h2>lorem ipsun</h2>
                </section>
                <section>                
                    <h2>lorem ipsun</h2>
                </section>
                <section>                
                    <h2>lorem ipsun</h2>
                </section>
            </div>
        </article>
    </main>
</body>
</html>